#start {
    position: absolute;
    left: 314px;
    top: 153px;
    width: 55px;
    display: none;
}
#stop{
	width: 28px;
    height: 20px;
    position: absolute;
    top: 368px;
}

#mydiv {
    width: 638px;
    border: 1px solid #fff;
    height: 381px;
}

#quanping {
    top: 363px;
    position: absolute;
    left: 624px;
    width: 30px;
    height: 23px;
}

#kuanjin {
    position: absolute;
    left: 117px;
    width: 28px;
    height: 20px;
    top: 368px;
}

#jindudiv {
    width: 0px;
    height: 16px;
    border-right: 2px solid blue;
    border-radius: 9px;
}
#span {
    background-color: ;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

#xianshidiv {
    background-color: #2D2727;
    height: 16px;
    cursor: pointer;
    width: 300px;
    border-radius: 10px 10px;
}
#mydiv1{
	width: 100px;
    height: 30px;
    border: 1px solid blue;
}
#div{
	position: absolute;
    top: 369px;
    left: 150px;
}
#manfang{
	width: 28px;
    height: 20px;
    position: absolute;
    left: 55px;
    top: 368px;
}
#zhengchang{
	width: 28px;
    height: 20px;
    position: absolute;
    left: 86px;
    top: 368px;
}
#yinliang{
	position: absolute;
    left: 503px;
    top: 375px;
}
#xianshiyinliang {
   background-color: #2d2727;
    height: 5px;
    cursor: pointer;
    width: 101px;
    border-radius: 10px 10px;
}
#jinduyinliang {
    
    width: 0px;
    height: 5px;
    border-right: 2px solid blue;
    border-radius: 10px 10px;
}
#dianjiyinliang{
	width: 10px;
    height: 10px;
    background-color: rgb(76, 74, 72);
    position: absolute;
    top: -3px;
    border-radius: 9px;
    left: 92px;
}
#shengyin{
	width: 21px;
    height: 20px;
    position: absolute;
    left: 455px;
    top: 367px;
}
#xiaoshibtn{
	position: absolute;
    left: 612px;
    top: 8px;
}
.hide{
	display: none;
}
.ylbtn{
	position: absolute;
    left: 607px;
    width: 19px;
    height: 20px;
    top: 366px;
}
.btnyl{
	position: absolute;
    left: 478px;
    width: 21px;
    height: 21px;
    top: 367px;
}
#video{
	position: absolute;
    top: -232px;
    width: 636px;
    height: 823px;
}
#input{
	position: absolute;
    top: 402px;
}
.bf{
	position: absolute;
    top: 403px;
    left: 178px;

}
#advertisement{
	width: 100px;
    height: 100px;
    border: 1px solid blue;
    position: absolute;
    top: 95px;
    left: 198px;
    display: none;
    text-align: center;
    background-color: red;
}